<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/css/fontawesome.css' />
    <link rel='stylesheet' href='/assets/css/owl.css' />
    <link rel='stylesheet' href='/assets/css/templatemo-style.css' />
  </head>
  <body>
   
    {{{body}}}
  </body>
</html>
